.navbar .navbar-expand-lg .navbar-light .bg-light{
    z-index: 1;
    background-color: red;
    box-shadow: 3px 3px 3px black;
}

.navbar a {
    color: white;
}


.video{
    z-index: -1;
    height: 80%;
    position: relative;
    top: -200px;
}

.hero {
    z-index: 1;
    background-color: white;
    height: 35%;
    width: 600px;
    opacity: .9;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -300px;
    border-radius: 1em;
}

.hero h1 {
    text-align: center;
    position: relative;
    top: 30%;
    margin-top: -1em;
}

.hero p {
    text-align: center;
    position: relative;
    top: 30%;
}

.main-container .signup-container2 {
    position: relative;
    top: 40%;
}

.main-container .signup-container2 label {
    display: block;
    text-align: center;
}

.main-container .signup-container2 .email {
    display: block;
    text-align: center;
    position: relative;
margin: auto;
}

.main-container .signup-container2 .submit {
    display: block;
    margin: auto;
    margin-top: 5px;
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 25px;
}



.page-break1 {
    background-color: red;
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: -200px;
}

.page-break1 h1 {
    position: relative;
    top: 35%;
    margin-top: -2.75em;
    color: white;
}

.container {
    margin-top: -200px;
}
.row {
    margin-bottom: 20px;
}